In [11]:
import pandas as pd
import zipfile
import pickle 
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import confusion_matrix,classification_report

In [12]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [13]:
z= zipfile.ZipFile("/content/drive/MyDrive/Colab Notebooks/YouTube-Spam-Collection-v1.zip")
Psy=pd.read_csv(z.open("Youtube01-Psy.csv"))
#Katy =pd.read_csv(z.open("Youtube02-KatyPerry.csv"))
#LMFAQ =pd.read_csv(z.open("Youtube03-LMFAO.csv"))
#Eminem =pd.read_csv(z.open("Youtube04-Eminem.csv"))
#Shakira =pd.read_csv(z.open("Youtube05-Shakira.csv"))
Psy.head()

                                    COMMENT_ID  ... CLASS
0  LZQPQhLyRh80UYxNuaDWhIGQYNQ96IuCg-AYWqNPjpU  ...     1
1  LZQPQhLyRh_C2cTtd9MvFRJedxydaVW-2sNg5Diuo4A  ...     1
2  LZQPQhLyRh9MSZYnf8djyk0gEF9BHDPYrrK-qCczIY8  ...     1
3          z13jhp0bxqncu512g22wvzkasxmvvzjaz04  ...     1
4          z13fwbwp1oujthgqj04chlngpvzmtt3r3dw  ...     1

[5 rows x 5 columns]

In [14]:
 data = pd.concat([Psy,Katy,LMFAQ,Eminem,Shakira])
 data.drop(["COMMENT_ID","DATE","AUTHOR"],axis=1,inplace=True)

In [15]:
X_train,X_test,y_train,y_test=train_test_split(data["CONTENT"],data["CLASS"])
print(X_train,X_test,y_train,y_test)

10                                  Hey subscribe to me﻿
47                                      the song is sad﻿
184                                          OPPA &lt;3﻿
315    pleas subscribe on me for ps4 games video <br ...
122                                  Watch my videos xx﻿
                             ...
174                                    She's awesome XD﻿
130                                            Memories﻿
26     Hiya😊 I just started YouTube and it would mean...
123    Listen...Check out Andrew Guasch - Crazy, Sick...
313    Hello everyone :) I know most of you probably ...
Name: CONTENT, Length: 1467, dtype: object 312    #nowplaying "Weekendmix" track 04 : Katy Perry...
288    https://soundcloud.com/j-supt-fils-du-son/fuck...
33     Check out my dubstep song "Fireball", made wit...
278    Part 2. Holy Mary, pray for us Holy Mother of ...
61                                           I love you﻿
                             ...
188                          Who df is Lauren Bennett..﻿
46          that time in 2011 where this shirt was cool﻿
344    everyones back lool this is almost 3 years old...
185    It's so funny it's awesomeness lol aaaaaaa sex...
355                    Check out this video on YouTube:﻿
Name: CONTENT, Length: 489, dtype: object 10     1
47     0
184    0
315    1
122    1
      ..
174    0
130    0
26     1
123    1
313    1
Name: CLASS, Length: 1467, dtype: int64 312    1
288    1
33     1
278    1
61     0
      ..
188    0
46     0
344    0
185    0
355    1
Name: CLASS, Length: 489, dtype: int64

In [16]:
tfidf_vect = TfidfVectorizer(use_idf=True,lowercase=True)
X_train_tfidf = tfidf_vect.fit_transform(X_train)
X_train_tfidf.shape

(1467, 3606)

In [17]:
model =MultinomialNB()
model.fit(X_train_tfidf,y_train)

MultinomialNB()

In [18]:
X_test_tfidf= tfidf_vect.transform(X_test)
predictions = model.predict(X_test_tfidf)
predictions

array([1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0,
       0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0,
       1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1,
       0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1,
       1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0,
       0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1,
       1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0,
       0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1,
       0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1,
       0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0,
       0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1])

In [19]:
confusion_matrix(y_test,predictions)

array([[199,  29],
       [  8, 253]])

In [20]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.96      0.87      0.91       228
           1       0.90      0.97      0.93       261

    accuracy                           0.92       489
   macro avg       0.93      0.92      0.92       489
weighted avg       0.93      0.92      0.92       489